body {font-family: 'Poiret One', cursive;background-color: #663366;}

h1 {font-family: 'Codystar', cursive;color: #FFFFFF;font-size:400%;}

a:link {color:#FFFFFF;}    
a:visited {color:#FFFFFF;}  
a:hover {color:#2EFEF7;;}  
